extends layout

block content

  h1 #{title}: #{album.title}
  
  p #[strong Artist:] 
    a(href=album.artist.url) #{album.artist.name}
  p #[strong Release Date:] #{album.releaseDate}
  p #[strong Length:] #{album.length}
  p #[strong Genre:] 
    each val in album.genre
      a(href=val.url) #{val.name}

  hr
  
  p Do you really want to delete this album?
    
  form(method='POST' action='')
    div.form-group
      input#id.form-control(type='hidden',name='id', required='true', value=album._id )

    button.btn.btn-primary(type='submit') Delete