extends layout

block content

  h1 Genre: #{genre.name}
  
  div(style='margin-left:20px;margin-top:20px')

    h4 Albums
    
    dl
      each album in genreAlbums
        dt 
          a(href=album.url) #{album.title}
        dd #{album.artist}

      else
        p This genre has no albums
  hr
  p
    a(href=genre.url+'/delete') Delete genre
  p
    a(href=genre.url+'/update') Update genre